@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pri-color: #A259FF;
    --white-color: #fff;
    --blur-back: #3B3B3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #3B3B3B;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--pri-color);
    border-radius: 8px;
}

body {
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    padding: 28px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #2B2B2B;
    z-index: 999;
}

header div a{
    display: flex;
    align-items: center;
    gap: 12px;
}

header div a span {
    font-size: 24px;
    font-weight: 600;
}

header div a img {

    object-fit: contain;
}

header ul {
    width: 100%;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    display: inline;
    margin: 0 28px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

header li:hover {
    color: var(--pri-color);
}

header button {
    background-color: var(--pri-color);
    color: var(--white-color);
    width: 152px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

header button:hover {
    background-color: #8933fa;
}

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
}

@media screen and (max-width: 1375px) {
    main {
        max-width: 85%;
    }
}

.active {
    color: var(--pri-color) !important;
}

main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    width: 100%;
    margin-bottom: 24px;
}

main .hero .left {
    width: 50%;
}

main .hero .left h1 {
    font-size: 67px;
}

main .hero .left p {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 14px;
    font-weight: 400;
}

main .hero .left .hero-info {
    margin-top: 44px;
    display: flex;
    justify-content: start;
    gap: 10%;
}

@media screen and (max-width: 1375px) {
    main .hero .left .hero-info {
        gap: 10%;
    }
}

main .hero .left .hero-info .count {
    font-size: 48px;
}

@media screen and (max-width: 1375px) {
    main .hero .left .hero-info .count {
        font-size: 36px;
    }
}

main .hero .left .hero-info p {
    font-size: 28px;
}

@media screen and (max-width: 1375px) {
    main .hero .left .hero-info p {
        font-size: 22px;
    }
}

main .hero .right {
    width: 50%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

main .hero .right .bio {
    gap: 12px;
    font-size: 22px;
    font-weight: 500;
    background-color: var(--blur-back);
    width: 90%;
    padding: 28px 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: fit-content;
}

main .hero .right .bio div {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: normal;
}

main .hero .right .bio div img {
    width: 24px;
}

main .hero .right img {
    width: 90%;
}


.collection {
    margin-top: 6.5rem;
    text-align: start;
    width: 100%;
}

.collection h2 {
    font-size: 46px;
    margin-bottom: 12px;
    font-weight: 600;
}

.collection p {
    font-size: 32px;
    font-weight: 300;
}

/* common  */

.btn {
    background-color: var(--pri-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    width: 184px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #8933fa;
    scale: 1.1;
}

.btn-outlined {
    background-color: transparent;
    color: var(--pri-color);
    border: 1px solid var(--pri-color);
    outline: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 16px 32px;
    font-size: 16px;
}

.btn-outlined:hover {
    background-color: var(--pri-color);
    color: var(--white-color);
}

.btn-outlined .RocketLaunch {
    display: none;
}

.btn-outlined:hover .RocketLaunch {
    display: inline;
}

.btn-outlined:hover .outlined-rocket {
    display: none;
}

.trending-collections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 44px 0;
}

.trending-collections .myData {
    width: 100%;
}

.trending-collections .myData .mainImg {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: contain;
}

.trending-collections .myData .sub-collection {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    width: 100%;
}

.trending-collections .myData .sub-collection img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: contain;
}

.trending-collections .myData .creator {
    margin-top: 12px;
}

.trending-collections .myData .creator h2 {
    font-size: 31px;
    font-weight: 600;
    cursor: pointer;
}

.trending-collections .myData .creator .about {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

.trending-collections .myData .creator .about p {
    font-size: 20px;
    font-weight: 350;
}

.creators {
    width: 100%;
    margin: 67px 0;

}

.creators .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.creators .top .left h2 {
    font-size: 46px;
    margin-bottom: 12px;
    font-weight: 600;
}

.creators .top .left p {
    font-size: 32px;
    font-weight: 300;
}

.top-creators {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 44px;
    width: 100%;
}

.top-creators .creator {
    position: relative;
}

.top-creators .creator .rank {
    position: absolute;
    top: 16px;
    z-index: 10;
    left: 16px;
    padding: 5px 9px;
    border-radius: 50%;
    background: #2B2B2B;
    color: #858584;
}

.top-creators .creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    background-color: var(--blur-back);
    padding: 20px;
    border-radius: 20px;
    width: 240px;
    text-align: center;
}

.top-creators .creator .info h4 {
    margin: 10px 0;
    font-size: 24px;
}

.top-creators .creator .info p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
}

.top-creators .creator .info p span {
    color: #858584;
}

.categories {
    width: 100%;
}

.heading {
    font-size: 46px;
    font-weight: 600;
    margin: 44px 0;
}

.categories .cat-data {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.categories .cat-data .cat {
    width: 240px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.categories .cat-data .cat:hover {
    transform: scale(1.1);
}

.categories .cat-data .cat img {
    object-fit: contain;
    width: 100%;
    margin: 0;

}

.categories .cat-data .cat .about {
    width: 100%;
    background-color: var(--blur-back);
    padding: 20px;
    margin: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.categories .cat-data .cat .about h4 {
    font-size: 22px;
}

.discover-nfts {
    width: 100%;
    margin: 44px 0;
}

.discover-nfts .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}


.discover-nfts .top .left h2 {
    font-size: 46px;
    margin-bottom: 12px;
    font-weight: 600;
}

.discover-nfts .top .left p {
    font-size: 32px;
    font-weight: 300;
}


.discover-nfts .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 44px;
    width: 100%;
}

.discover-nfts .content .card {
    width: 440px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.discover-nfts .content .card:hover {
    transform: scale(1.1);
}

.discover-nfts .content .card img {
    object-fit: cover;
    width: 100%;
    margin: 0;
}

.discover-nfts .content .card .info {
    width: 100%;
    background-color: var(--blur-back);
    padding: 20px;
    margin: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


.discover-nfts .content .card .info h4 {
    font-size: 32px;
    font-weight: 500;
}

.discover-nfts .content .card .info .about {
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 12px;
    font-size: 18px;
}

.discover-nfts .content .card .info .about img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.discover-nfts .content .card .info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.discover-nfts .content .card .info .price div .priceHeading {
    font-size: 16px;
    font-weight: 400;
    color: #858584;
}

.discover-nfts .content .card .info .price div .priceInfo {
    font-size: 22px;
    margin-top: 6px;
    font-weight: 400;
}

.how-works {
    width: 100%;
    margin: 44px 0;
}

.how-works h2 {
    font-size: 46px;
    margin-bottom: 12px;
    font-weight: 600;
}

.how-works p {
    font-size: 32px;
    font-weight: 300;
}


.how-works .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 44px;
    width: 100%;
}

.how-works .content .card {
    width: 440px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: var(--blur-back);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.how-works .content .card img {
    object-fit: contain;
    width: 250px;
    height: 250px;
}

.how-works .content .card .info {
    width: 100%;
    padding: 20px;
    margin: 0;
}

.how-works .content .card .info h4 {
    font-size: 24px;
    font-weight: 500;
}

.how-works .content .card .info p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
    padding: 0 16px;
}

.join-us {
    background-color: var(--blur-back);
    padding: 44px;
    border-radius: 22px;
    width: 100%;
    margin: 44px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 166px;
}

.join-us div h1 {
    font-size: 46px;
    font-weight: 500;
}

.join-us div p {
    font-size: 32px;
    font-weight: 300;
    margin: 12px 0;
}

.join-us form {
    margin-top: 22px;
    display: flex;
    width: 100%;
    max-width: 600px;
    background-color: var(--white-color);
    border-radius: 22px;
}


.join-us form input {
    width: 100%;
    border-radius: 22px;
    color: #2B2B2B;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    background-color: var(--white-color);
    padding: 0 32px;
}

.join-us form button {
    width: 250px;
}

.join-us form button img {
    object-fit: contain;
    width: 24px;
    height: auto;
}


footer {
    width: 100%;
    margin-top: 44px;
    background-color: var(--blur-back);
    padding: 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .top {
    width: 80%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    color: #858584;
}

footer .top .first {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    color: #858584;
    width: 33%;

}

footer .top .first .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-weight: 600;
}


footer .top .first .logo img {
    width: 40px;
    height: auto;
    object-fit: contain;
}

footer .top .first h5 {
    font-size: 22px;
    font-weight: normal;
    color: #cccccc;
}

footer .top .first p {
    font-size: 22px;
    font-weight: normal;
    color: #cccccc;
}

footer .top .first img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

footer .top .first .social {
    display: flex;
    gap: 16px;
    margin-top: 12px;
    cursor: pointer;
}

footer .top .first .social img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

footer .top .second {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 16px;
    font-size: 24px;
    color: #858584;
    width: 33%;
}

footer .top .second h5 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

footer .top .second ul {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .top .second ul li {
    font-size: 22px;
    font-weight: normal;
    list-style-type: none;
    color: #cccccc;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    width: fit-content;
    transition: all 0.3s ease;
}

footer .top .second ul li:hover {
    color: #fff;
    border-bottom: 1px solid var(--pri-color);
}

footer .top .third {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    color: #858584;
    width: 33%;
}

footer .top .third h5 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

footer .top .third p {
    font-size: 22px;
    font-weight: normal;
    color: #cccccc;
}

footer .top .third form {
    margin-top: 12px;
    display: flex;
    width: 100%;
    max-width: 600px;
    background-color: var(--white-color);
    border-radius: 22px;
}


footer .top .third form input {
    width: 100%;
    border-radius: 22px;
    color: #2B2B2B;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    background-color: var(--white-color);
    padding: 0 32px;
}

footer .bottom {
    border-top: 1px solid #cccccc;
    margin-top: 32px;
    padding-top: 18px;
    display: flex;
    color: #cccccc;
    font-size: 16px;
    font-weight: normal;
    width: 80%;
}

/* create-account */

.create-account {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 140px;
    padding: 32px 0;
    width: 100%;
}

.create-account img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.create-account form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    border-radius: 22px;
    padding: 32px;
}

.create-account form h1 {
    font-size: 67px;
    font-weight: 600;
    color: #fff;
}

.create-account form p {
    font-size: 22px;
    font-weight: normal;
    color: #cccccc;
    line-height: 38px;
}

.create-account form input {
    width: 100%;
    border-radius: 22px;
    color: #2B2B2B;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    background-color: var(--white-color);
    padding: 0 22px;
    height: 60px;
}

.create-account form button {
    font-size: 22px;
    width: 100%;
    height: 60px;
}

.create-account form .myInput {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 100px;
    padding: 0 32px;
    height: 60px;
}

.create-account form .myInput img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.wallets {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    width: 100%;
    max-width: 600px;
}


.wallets .wallet {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 2px solid var(--pri-color);
    gap: 12px;
    width: 350px;
    height: 80px;
    border-radius: 22px;
    background-color: var(--blur-back);
    padding: 0 22px 0px 44px;
    cursor: pointer;
}

.wallets .wallet img {
    width: 44px;
    height: 44px;
    object-fit: contain;
}

.wallets .wallet p {
    font-size: 22px;
    font-weight: 550;
    color: var(--white-color);
}

.top-artists {
    text-align: left;
    width: 100%;
}

.top-artists h1 {
    font-size: 67px;
    font-weight: 600;
    width: 100%;
    color: #fff;
}

.top-artists p {
    width: 100%;
    font-size: 22px;
    margin-top: 12px;
    font-weight: normal;
    color: #cccccc;
    line-height: 38px;
}

.top-artists .artist-header {
    display: grid;
    grid-template-columns: 0.5fr 5fr 2fr 2fr 2fr;
    border: 2px solid #3B3B3B;
    border-radius: 22px;
    gap: 12px;
    width: 100%;
    margin-top: 12px;
    padding: 16px;
}

.top-artists .artist-header p {
    color: #858584;
    font-size: 18px;
    padding: 0 10px;
    font-weight: normal;
    margin: 0;
}


.top-artists .artists {
    display: grid;
    grid-template-columns: 0.5fr 5fr 2fr 2fr 2fr;
    padding: 16px 0;
    width: 100%;
    margin-top: 12px;
}

.top-artists .artists .artist {
    display: contents;
    background-color: var(--blur-back) !important;
    border-radius: 22px;
    cursor: pointer;
    padding: 16px 0;
    transition: all 0.3s ease;
}

.top-artists .artists .artist .index {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.top-artists .artists .artist .volume {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.top-artists .artists .artist p,
.top-artists .artists .artist .artist-info {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 350;
    color: var(--white-color);
    background-color: #3B3B3B;
    margin: 0;
    margin-bottom: 16px;
}

.top-artists .artists .artist .artist-info p {
    font-weight: 550;
}

.top-artists .artists .artist .change {
    color: #00AC4F;
}

.top-artists .artists .artist img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-market {
    margin: 44px 0;
    width: 80%;

}

.hero-market h1 {
    font-size: 67px;
    font-weight: 600;
    width: 100%;
    color: #fff;
}

.hero-market p {
    width: 100%;
    font-size: 22px;
    margin-top: 12px;
    font-weight: normal;
    color: #cccccc;
    line-height: 38px;
}

.hero-market form {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #3B3B3B;
    border-radius: 22px;
    padding: 13px 16px;
    background-color: transparent;
    gap: 12px;
}

.hero-market form input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}

.hero-market form button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}


.market-main {
    background-color: var(--blur-back);
    width: 100%;
    display: flex;
    justify-content: center;

}


.market {
    padding: 44px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 36px;
    width: 80%;
}

.market .market-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 44px;
}

.market .market-content .card {
    width: 440px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.market .market-content .card:hover {
    transform: scale(1.1);
}

.market .market-content .card img {
    object-fit: cover;
    width: 100%;
    margin: 0;
}

.market .market-content .card .info {
    width: 100%;
    background-color: #2B2B2B;
    padding: 20px;
    margin: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


.market .market-content .card .info h4 {
    font-size: 32px;
    font-weight: 500;
}

.market .market-content .card .info .about {
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 12px;
    font-size: 18px;
}

.market .market-content .card .info .about img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.market .market-content .card .info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.market .market-content .card .info .price div .priceHeading {
    font-size: 16px;
    font-weight: 400;
    color: #858584;
}

.market .market-content .card .info .price div .priceInfo {
    font-size: 22px;
    margin-top: 6px;
    font-weight: 400;
}

.detail-header {
    width: 100%;
}

.detail-header img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}


.nft-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 44px 0;
    width: 80%;
    gap: 12px;
}

.nft-info .left {
    width: 60%;
}

.nft-info .left h2 {
    font-size: 46px;
    margin-bottom: 12px;
    font-weight: 600;
}

.nft-info .left p {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: normal;
    color: var(--white-color);
    line-height: 38px;
}

.nft-info .left b {
    font-size: 18px;
    margin-top: 12px;
    color: #858584;
    font-weight: 600;
    line-height: 38px;
}

.nft-info .left .creator {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0;
}

.nft-info .left .creator img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nft-info .left .creator span {
    font-size: 18px;
    font-weight: 500;
}

.nft-info .left .tags {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0;
}

.nft-info .left .tags button {
    padding: 8px 14px;
    background-color: var(--blur-back);
    border: none;
    border-radius: 12px;
    color: var(--white-color);
    font-size: 14px;
}

.nft-info .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box {
    background-color: var(--blur-back);
    padding: 20px;
    border-radius: 16px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.box p {
    font-size: 22px;
    font-weight: normal;
    color: var(--white-color);
    line-height: 38px;
}

.box .timer {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 12px 0;
}

.box .timer .my-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
}

.box .timer .my-time p {
    font-size: 44px;
    font-weight: 500;
}

.box .timer .my-time span {
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
    color: #cccccc;
}

.colons{
    color: #cccccc;
    font-size: 44px;
    margin-top: -22px;
}

.related-nfts{
    max-width: 80%;
    margin: 44px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}

.related-nfts h2{
    width: 100%;
    font-size: 46px;
    font-weight: 600;
}

.more-nfts{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}

.more-nfts .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 44px;
}

.more-nfts .content .card {
    width: 440px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.more-nfts .content .card:hover {
    transform: scale(1.1);
}

.more-nfts .content .card img {
    object-fit: cover;
    width: 100%;
    margin: 0;
}

.more-nfts .content .card .info {
    width: 100%;
    background-color: var(--blur-back);
    padding: 20px;
    margin: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


.more-nfts .content .card .info h4 {
    font-size: 32px;
    font-weight: 500;
}

.more-nfts .content .card .info .about {
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 12px;
    font-size: 18px;
}

.more-nfts .content .card .info .about img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.more-nfts .content .card .info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.more-nfts .content .card .info .price div .priceHeading {
    font-size: 16px;
    font-weight: 400;
    color: #858584;
}

.more-nfts .content .card .info .price div .priceInfo {
    font-size: 22px;
    margin-top: 6px;
    font-weight: 400;
}

a {
    text-decoration: none;
}